@charset "UTF-8";

.test {
	color: red;
}

.bg-classic {
	background-color: #444466;
	background-image: linear-gradient(to right, #444466 , #ddd);
}

.navbar-classic {
	color : #d9d9f9;
}

.nav-link-classic {
/*	
  color: rgba(217, 217, 249, 0.5);
  color: #b9b9d9;
*/  
  color: #444466;
}

.btn-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f8d7da;
}


.btn-danger:hover,
.btn-danger:focus, .btn-danger.focus {
  color: #721c24;
  background-color: #e8c7ca;
  border-color: #e8c7ca;
}

.nav-link-classic:active ,
.nav-link-classic:hover {
  color: rgba(217, 217, 249, 1);
  color: #d9d9f9;
}

.link-classic {
  color: #777799;
}

.link-classic:active ,
.link-classic:hover {
  color: #444466;
}


.link-help {
  color: #506099;
}

.link-help:active ,
.link-help:hover {
  color: #7a8ab0;
}



.btn-classic {
  color: #fff;
  background-color: #90a0c9;
  border-color: #90a0c9;
}

.btn-classic:hover {
  color: #fff;
  background-color: #8090b9;
  border-color: #7a8ab0;
}

.btn-classic:focus, .btn-classic.focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 176, 217, 0.5);
}

.btn-classic.disabled, .btn-classic:disabled {
  color: #fff;
  background-color: #90a0c9;
  border-color: #90a0c9;
}

.btn-classic:not(:disabled):not(.disabled):active, .btn-classic:not(:disabled):not(.disabled).active,
.show > .btn-classic.dropdown-toggle {
  color: #fff;
  background-color: #7a8ab0;
  border-color: #7585a7;
}

.btn-classic:not(:disabled):not(.disabled):active:focus, .btn-classic:not(:disabled):not(.disabled).active:focus,
.show > .btn-classic.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(160, 176, 217, 0.5);
}


.navbar-toggler-classic {
  color: rgba(217, 217, 249, 0.5);
  border-color: rgba(217, 217, 249, 0.1);
}

.navbar-toggler-icon-classic {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(217, 217, 249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


body{
	background-color: #EFEFEF;
	background-image: linear-gradient(to top, #F4F4F6 , #FFFFFF);
}

.jumbotron {
	background: none;
}

#proposal p {
	font-size: 0.8em;
}

#accountProperties,
#testSearchForm,
#searchForm,
#InscriptionForm,
#connexionForm,
.file-panel {
	width: 60%;
	margin : 15px 20% 15px auto;
}

#createSiteForm {
	width: 94%;
	margin : 15px 3% 15px auto;
}

form .basic-top-label {
	float: left;
	width: 96%;
	margin :0 2% 0 2%;
	text-align: left;
	color: #505050
}

form .required {
    color: #c00;
}


#accountProperties .form-control[readonly],
#testSearchForm .form-control:disabled,
#testSearchForm .form-control[readonly],
#debugGroup .form-control:disabled,
#debugGroup .form-control[readonly] {
  background-color: #F3F6F9;
  opacity: 0.6;
}

.search-prepend-label {
	flex: 0 0 25%;
}

.search-label {
	width: 100%;
}

#createSiteForm .form-row{
	align-items: flex-start;
}

.form-check-group {
    display: -ms-flexbox;
	display: flex;
    flex-direction: column;
    justify-content: center;
	
}

.form-check-group .form-control {
    display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.invalid-feedback {
	display: block;
}

.tab-error {
	color: #dc3545;
}

#comment-group{
	width: 88%;
	margin-left: 6%;
	font-size: 0.8em;
}

.message-box {
	width :90%;
	margin-left: 5%;
	font-size: 0.8em;
}

.masked-message {
	display: none;	
}

.active-message-link {
	background-color: #DDCCFF;	
}

#navMessage .nav-mailbox {
	margin: 0;
	padding: 0;
}

.bd-callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #eee;
	border-left-width: .25rem;
	border-radius: .25rem;
}

.bd-callout-warning{
	border-left-color: #ffc107;
}

.bd-callout-danger{
	border-left-color: #dc3545;
}

.bd-callout-success{
	border-left-color: #28a745;
}

.bd-callout-primary{
	border-left-color: #007bff;
}

.bd-callout-info{
	border-left-color: #17a2b8;
}

.jcm-tag-box{
	padding: 0.5rem;
	text-align: center;
}

.jcm-tag{
	padding: .5rem 1.5rem .5rem 1.5rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #eee;
	border-radius: .25rem;
	vertical-align: middle;
}

.jcm-tag-warning{
	border-color: #ffc107;
}

.jcm-tag-danger{
	border-color: #dc3545;
}

.jcm-tag-success{
	border-color: #28a745;
}

.jcm-tag-primary{
	border-color: #007bff;
}

.jcm-tag-info{
	border-color: #17a2b8;
}

.desc-box {
	
}

.desc-separator {
	background-color: #aaa;
	min-height: 1px;
	margin: 0 3rem 1.25rem 1rem;
	padding: 0;
}

.desc-title {
	color: #555;
	font-size: 1.3em;
	text-align: center;	
}

.desc-content {
	
}

.rabbit-box,
.fox-box,
.bear-box,
.shark-box,
.snail-box,
.dragon-box {
	
}


.monkey-box {
	padding: 0 0 .75rem 0 ;
	margin: 0 0 .75rem 0;
	border: 1px solid #ddd;
	border-top-width: 0;
	border-left-width: .3rem;
	border-radius: .25rem;
	word-wrap: break-word;
}

.monkey-box>ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.monkey-box>ul>li {
	text-decoration: none;
}

.monkey-box-classic a {
	color: #444466;
}

.monkey-box-danger{
	border-left-color: #dc3545;	
}

.monkey-box-success{
	border-left-color: #28a745;	
}

.monkey-box-help{
	border-left-color: #90a0c9;	
}

.monkey-box-classic{
	border-left-color: #444466;	
}


.monkey-hat{
	background-color: #ddd;
	border-top-right-radius: .25rem;
	min-height: 1.25rem;
	padding-left: -0.25rem;
	margin: 0 0 .4rem 0;
}

.monkey-hat-danger {
	background-image: linear-gradient(to right, #dc3545 , #ddd);
}

.monkey-hat-success {
	background-image: linear-gradient(to right, #28a745 , #ddd);
}

.monkey-hat-help {
	background-image: linear-gradient(to right, #90a0c9 , #ddd);
}

.monkey-hat-classic {
	background-image: linear-gradient(to right, #444466 , #ddd);
}

.monkey-drawer {
	margin: 0;
	padding: .4rem;
}

.monkey-separator{
	background-color: #ddd;
	min-height: 1px;
	margin: 0 .4rem 0 .4rem;
	padding: 0;
}

.monkey-title {
	background-color: #ddd;
	border-top-right-radius: .25rem;
	min-height: 1.25rem;
	margin: 0 0 .4rem 0;
	padding : .25rem;
	text-align: center;
	font-size: 1.1em;
}

.monkey-title-danger {
	background-image: linear-gradient(to right, #dc3545 , #ddd);
}

.monkey-title-success {
	background-image: linear-gradient(to right, #28a745 , #ddd);
}

.monkey-title-help {
	background-image: linear-gradient(to right, #90a0c9 , #ddd);
}

.monkey-title-classic {
	background-image: linear-gradient(to right, #444466 , #ddd);
}

.camel-box {
	padding: 0 .9rem 0 .85rem;
	margin: 0 0 .75rem 0;
	border: 1px solid #ddd;
	border-top-width: 0;
	border-radius: .25rem;
	word-wrap: break-word;
}

.camel-first-hump {
	padding: 0 0 .75rem 0 ;
	margin: 0;
	border-right: .2rem solid #ddd;
}

.camel-second-hump {
	padding: 0 0 .75rem 0 ;
	margin: 0;
	border-left: .2rem solid #ddd;
}

.camel-box>ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.camel-box>ul>li {
	text-decoration: none;
}

.camel-box-classic a {
	color: #444466;
}

.camel-box-danger{
	border-color: #dc3545;	
}

.camel-box-success{
	border-color: #28a745;	
}

.camel-box-classic{
	border-color: #444466;	
}


.camel-hat{
	background-color: #ddd;
	min-height: 1.25rem;
	margin: 0 0 .4rem 0;
}

.camel-first-hat-danger {
	border-top-left-radius: .25rem;
	background-image: linear-gradient(to left, #dc3545 , #ddd);
}

.camel-second-hat-danger {
	border-top-right-radius: .25rem;
	background-image: linear-gradient(to right, #dc3545 , #ddd);
}

.camel-first-hat-success {
	border-top-left-radius: .25rem;
	background-image: linear-gradient(to left, #28a745 , #ddd);
}

.camel-second-hat-success {
	border-top-right-radius: .25rem;
	background-image: linear-gradient(to right, #28a745 , #ddd);
}

.camel-first-hat-classic {
	border-top-left-radius: .25rem;
	background-image: linear-gradient(to left, #444466 , #ddd);
}

.camel-second-hat-classic {
	border-top-right-radius: .25rem;
	background-image: linear-gradient(to right, #444466 , #ddd);
}

.camel-drawer {
	margin: 0;
	padding: .4rem;
}

.camel-separator{
	background-color: #ddd;
	min-height: 1px;
	margin: 0 .4rem 0 .4rem;
	padding: 0;
}

.camel-first-title {
	background-color: #ddd;
	border-top-left-radius: .25rem;
	min-height: 1.25rem;
	margin: 0 0 .4rem 0;
	padding : .25rem;
	text-align: center;
	font-size: 1.1em;
}

.camel-second-title {
	background-color: #ddd;
	border-top-right-radius: .25rem;
	min-height: 1.25rem;
	margin: 0 0 .4rem 0;
	padding : .25rem;
	text-align: center;
	font-size: 1.1em;
}

.camel-first-title-danger {
	background-image: linear-gradient(to left, #dc3545 , #ddd);
}

.camel-first-title-success {
	background-image: linear-gradient(to left, #28a745 , #ddd);
}

.camel-first-title-classic {
	background-image: linear-gradient(to left, #444466 , #ddd);
}

.camel-second-title-danger {
	background-image: linear-gradient(to right, #dc3545 , #ddd);
}

.camel-second-title-success {
	background-image: linear-gradient(to right, #28a745 , #ddd);
}

.camel-second-title-classic {
	background-image: linear-gradient(to right, #444466 , #ddd);
}

.text-default {
	color: #000;
}

.text-white {
	color: #FFF;
}
	
.text-ultra-soft {
	color: #888;
}
	
.text-soft {
	color: #555;
}
	
.text-classic {
	color: #444466;
}

.text-help {
	color: #d9d9f9;
}
	
.text-classic-light {
	color: #CCCCEE;
}

.text-xxxl {
	font-size: 1.7em;
}

.text-xxl {
	font-size: 1.5em;
}

.text-xl {
	font-size: 1.3em;
}

.text-l {
	font-size: 1.1em;
}

.text-normal {
	font-weight: normal;
	font-size: 1em;
}

.text-s {
	font-size: 0.9em;
}

.text-xs {
	font-size: 0.8em;
}


/* Adjusting width to have responsive formular */

@media (max-width: 766px) {
	#accountProperties,
	#testSearchForm,
	#searchForm,
	#InscriptionForm,
	#connexionForm,
	.file-panel {
		width: 88%;
		margin : 15px 6% 15px auto;
	}
}

