@charset "UTF-8";

.test {
	color: red;
}

.jumbotron {
	background: none;
}

#proposal p {
	font-size: 0.8em;
}

#accountProperties,
#testSearchForm,
#searchForm,
#InscriptionForm,
#connexionForm {
	width: 60%;
	margin : 15px 20% 15px auto;
}

#createSiteForm {
	width: 94%;
	margin : 15px 3% 15px auto;
}

form .basic-top-label {
	float: left;
	width: 96%;
	margin :0 2% 0 2%;
	text-align: left;
	color: #505050
}

form .required {
    color: #c00;
}


#accountProperties .form-control[readonly],
#testSearchForm .form-control:disabled,
#testSearchForm .form-control[readonly],
#debugGroup .form-control:disabled,
#debugGroup .form-control[readonly] {
  background-color: #F3F6F9;
  opacity: 0.6;
}

.search-prepend-label {
	flex: 0 0 25%;
}

.search-label {
	width: 100%;
}

#createSiteForm .form-row{
	align-items: flex-start;
}

.form-check-group {
    display: -ms-flexbox;
	display: flex;
    flex-direction: column;
    justify-content: center;
	
}

.form-check-group .form-control {
    display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.invalid-feedback {
	display: block;
}

.tab-error {
	color: #dc3545;
}

