@charset "UTF-8";

.test {
	color: red;
}

.jumbotron {
	background: none;
}

#proposal p {
	font-size: 0.8em;
}

#testSearchForm,
#searchForm,
#InscriptionForm,
#connexionForm {
	width: 60%;
	margin : 15px 20% 15px auto;
}

form .basic-top-label {
	float: left;
	margin :0;
	color: #505050
}

form .required {
    color: #c00;
}


#testSearchForm .form-control:disabled,
#testSearchForm .form-control[readonly],
#debugGroup .form-control:disabled,
#debugGroup .form-control[readonly] {
  background-color: #F3F6F9;
  opacity: 0.6;
}

.search-prepend-label {
	flex: 0 0 25%;
}

.search-label {
	width: 100%;
}

.invalid-feedback {
	display: block;
}


