@charset "UTF-8";

.test {
	color: red;
}

.jumbotron {
	background: none;
}

#proposal p {
	font-size: 0.8em;
}

#searchForm,
#connexionForm {
	width: 60%;
	margin : 15px 20% 15px auto;
}

#debugGroup .form-control:disabled,
#debugGroup .form-control[readonly] {
  background-color: #F3F6F9;
  opacity: 0.6;
}

.search-prepend-label {
	flex: 0 0 25%;
}

.search-label {
	width: 100%;
}


